<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="Emoji Search & Text Enhancement Tool">
  <!-- open graph tags -->
  <meta property="og:title" content="Emojify">
  <meta property="og:description" content="Emoji Search & Text Enhancement Tool">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://deshan-nawanjana.github.io/emojify/">
  <meta property="og:image" content="https://deshan-nawanjana.github.io/emojify/assets/images/cover.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <!-- twitter card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Emojify">
  <meta name="twitter:description" content="Emoji Search & Text Enhancement Tool">
  <meta name="twitter:image" content="https://deshan-nawanjana.github.io/emojify/assets/images/cover.jpg">
  <!-- canonical -->
  <link rel="canonical" href="https://deshan.lk/apps/emojify" />
  <!-- favicon -->
  <link rel="shortcut icon" href="./assets/images/icon.png" type="image/png">
  <!-- fonts -->
  <link rel="stylesheet" href="./assets/fonts/fonts.css">
  <!-- style -->
  <link rel="stylesheet" href="./index.css">
  <!-- libraries -->
  <script src="./assets/libraries/vue.min.js"></script>
  <script src="./assets/libraries/jszip.min.js"></script>
  <!-- script -->
  <script src="./index.js" type="module"></script>
  <!-- page title -->
  <title>Emojify - Emoji Search & Text Enhancement Tool</title>
</head>

<body>
  <div id="app">
    <!-- heading -->
    <div class="heading">
      <div class="heading-title">
        Emojify Your Life!
      </div>
      <div class="heading-description">
        Emoji Search & Text Enhancement Tool
      </div>
    </div>
    <!-- content -->
    <div class="content">
      <!-- search section -->
      <div class="search">
        <!-- search input -->
        <div class="search-input">
          <input type="text" spellcheck="false" autocomplete="off" id="search"
            placeholder="Describe the emoji to find..." v-model="search.query" @keydown="searchEmojis">
          <button @click="searchEmojis"></button>
        </div>
        <!-- search results -->
        <div class="search-results">
          <div class="search-results-item" v-for="item in results" :data-copied="search.copied === item.char"
            @click="copyEmoji(item)">
            {{item.char}}
          </div>
        </div>
      </div>
      <!-- enhance section -->
      <div class="enhance">
        <div class="enhance-title">
          Text Enhancement
        </div>
        <textarea id="text" placeholder="Type your text here..." v-model="enhance.input"></textarea>
        <button @click="enhanceText">
          Enhance with Emojis
        </button>
        <div class="enhance-output" v-if="enhance.output">
          {{enhance.output}}
        </div>
        <div class="enhance-copy" :data-copied="enhance.copied" @click="copyText" v-if="enhance.output"></div>
      </div>
    </div>
  </div>
</body>

</html>